body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0 0;
  max-width: 38rem;
  /* min-height: 600px; */
  padding: 0;
  /* background: linear-gradient(123.09deg, #179CC6 10.17%, #1759BC 85.82%); */
  box-sizing: border-box;
}

.background {
  width: 100vw;
  position: absolute;
  height: 100vh;
}

.blur {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow:hidden;
}

.container {
  position: absolute;
  top: 120px;
  width: 80%;
  height: 70%;
  left: 5%;
  margin-left: 50%;
  transform: translateX(-56%);
}

.header-container {
  display: flex;
  align-items: center;
  position: relative;
  top: 30px;
  width: 100vw;
  color: white;
  max-height: 45px;
}

.user-container {
  display: flex;
  align-items: top;
  justify-content: start;
  width: 100%;
  height: 40%;
}

.frame-current-user {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  border: 3px solid #FFC200;
  color: white;
  height: 46%;
  max-width: 100%;
  border-radius: 23px;
  padding: 20px;
  background-color: rgba(255,255,255, 0.1);
}

.frame-current-user_edit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 50px;
  border: 3px solid #FFC200;
  color: white;
  height: 77%;
  max-width: 100%;
  border-radius: 23px;
  padding: 20px;
  background-color: rgba(255,255,255, 0.1);
}

.card-user {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  min-width: 130px;
  height: 130px;
  margin-right: 32px;
  background-color: white;
  border-radius: 15px;
  border: 3px solid white;
  box-shadow: 4px 4px 8px rgba(0,0,0, 0.2);
  opacity: 0.8;
  cursor: pointer;
  padding: 15px;
  transition: all 0.3s ease-in-out;
}

.card-user:hover {
  opacity: 1;
}

.card-user_new {
  display: flex;
  flex-direction: row;
  text-align: center;
  min-width: 130px;
  height: 130px;
  margin-right: 44px;
  background-color: transparent;
  border-radius: 15px;
  border: 4px dashed white;
  box-shadow: none;
}

.card-user_icons {
  height: 20px;
  width: 80%;
  margin: auto;
  /* padding: 0px 10px; */
  display: flex;
  justify-content: space-between;
}

.icon {
  max-width: 18px;
  max-height: 18px;
}

.icon-add_big:before, .icon_add_big:after {
  position: relative;
  margin: auto auto;
    width: 100px;
    max-width: 30px;
    height: 5px;
    background-color: white;
}

.icon-add_big:after {
  content: '';
  width: 100px;
  max-width: 30px;
  height: 5px;
  background-color: white;
  transform: rotate(-90deg);
}

.avatar > img {
  max-width: 70px;
  height: 70px;
  border-radius: 50%;
}

.circle-lrg > img {
  min-width: 90px;
  min-height: 90px;
  border-radius: 50%;
  border: 4px solid #FFC200;
}

.mt10 {
  margin-top: 30px;
}

.mb5 {
  margin-bottom: 10px;
}

.chevrons {
  position: absolute;
  margin-left: 50px;
  transform: translate( -60%, 92px );
}

.chevron {
  width: 15px;
}

.bordered {
  border: 3px solid #FFC200;
  opacity: 1;
  cursor: default;
}

.bordered > .card-user_icons > .icon {
  cursor: pointer;
  z-index: 10;
}

.logo-container {
  background-color: white;
  color: #114A82;
  max-height: 45px;
  width: 200px;
  border-radius: 50px;
  padding: 8px;
  transform: translateX(-45px);
}

 .dot-sml {
  width: 17px;
  height: 17px;
  border-radius: 50%;
}

.primary {
  background-color: #FFC200;
}

.secondary {
  background-color: #0CFD15;
}

.warning {
  background-color: red;
}

.dot-lrg {
  min-width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 50%;
  line-height: 45px;
  background-color: #FFC200;
}

.dot-lrg:hover {
  background-color: #FF9D00;
}

#header-dot {
  transform: translateX(-30px);
}

#status-dot {
  position: absolute;
  transform: translate(95px, -19px);
}

#header-dot-lrg {
  transform: translateX(410px);
  cursor: pointer;
}

#screen-name {
  transform: translateX(-15px);
}

.logo-container-inner {
  transform: translateX(70px);
  font-size: 24px;
  font-weight: bold;
}

.logo-container-inner > span {
  color: #FF9D00;
}

.txt-md {
  font-size: 15px;
}

.txt-sm {
  font-size: 12px;
}

.txt-lrg_white {
  color: white;
  font-size: 28px;
}

.btn {
  margin-right: 5px;
  padding: 5px 10px;
  height: 35px;
  background-color: white;
  border-radius: 5px;
  border: none;
  color: #114A82;
  display: inline;
  flex-direction: row;
  cursor: pointer;
}

.btn.day {
 max-width: 30px;
 max-height: 30px;
 padding: 5px;
 margin-right: 7px;
}

.btn.day:first-of-type {
  margin-left: 10px;
}

.btn.selected {
  background-color: #FFC200;
  color: white;
}

.btn-row {
  margin-top: 0px;
  width: 350px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.schedule-container {
  display: flex;
  flex-direction: column;
  flex-wrap: column;
  margin-top: 90px;
  max-width: 550px;
}

.schedule-container_row {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}

.Select-menu-outer {
  max-height: 100px;
  }
  
  .Select-menu {
  max-height: 108px;
  }

/* styles for elements by  */

#heights {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 200px;
}

#settings-icons {
  display: flex;
  max-height: 80px;
  align-items: center;
  justify-content: space-between;
  width: 165px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
} 

#footer {
  position: absolute;
  display: flex;
  /* align-content: flex-start; */
  justify-content: space-between;
  bottom: 20px;
  width: 80%;
  height: 30px;
  color: white;
  left: 35%;
  /* border: solid 1px red; */
  transform: translateX(-35%);
}


#cross {
  width: 40px;
  height: 5px;
  position: relative;
  margin-left: 25%;
  margin-top: 25%;
  transform: rotate(90deg);
}

#cross:before, #cross:after {
 content: "";
 position: absolute;
 z-index: -1;
 background: white;
}

#cross:before {
  height: 5px;
  width: 40px;
  transform: rotate(90deg);
}

#cross:after {
  height: 5px;
  width: 40px;
  transform: rotate(180deg);
}

#start_label, #end_label {
  position: absolute;
  transform: translate(30px, 2px);
  color: gray;
  z-index: 1000;
  font-size: 12px;
}

#end_label {

}

#button-row {
  display: flex;
  justify-content: flex-end;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  /* border: 1px solid #ccc; */
  display: inline-block;
  padding: 6px 0px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}